body {
  background-color: #F1DFDF;
  text-align: justify;
}
.header{
  height: 120px;
  padding-bottom: 10px;
  margin-top: 40px;
  list-style-type: none;
  overflow: hidden;
  border-radius: 8px;
  padding-top: 20px;
  background-color: #003049;
}
#logo {
  height: 80px;
}
#menu ul {
  list-style: none;
  padding-top: 30px;
}
#menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
span {
  font-style: oblique;
  color: #003049;
}
#caption {
  font-size: 14px;
  color: #003049;
}
#footer{
  height: 80px;
  background-color: #003049;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}
h2 {
  color: #875536;
}
h3 {
  color: #856c1b;
}
input[type=button] {
  width: 36%;
  background-color: #003049;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=button]:hover {
  background-color: #875536;
}
#hidden {
  display: none;
  align-items: center;
  background-color: #CDA5AD;
  border: 8px solid #003049;
  animation-name: blinking;
  animation-duration: 0.8s;
  animation-iteration-count: 100;
  transition: outline 0.6s linear;
  margin: 0.5em;
  padding: 20px 0px 20px 0px;
  text-align: center;
}
@keyframes blinking {
  50% {
    border-color: #ffcd5f;
  }
}
#hidden p {
font-size: 25px;
color: #875536;
}